extends home_layout

block content
  a(href='homepage') Back to Home
  p
   |Welcome to our page. Introducing all the team members.
  ul
     p
      |TEAM LEAD
      li
        a(href='jeremy') 
         button Jeremy
      p
       |FRONT END MEMBERS
       li
        a(href='kachi') 
         button Kachi(FrontEnd Lead)
       li
        a(href='risha') 
        
         button Risha
         
      p
       |BACK END MEMBERS

      li
        a(href='index') 
         button Sabiha(BackEnd Lead)
      li
        a(href='parker') 
         button Parker      
      
      


    
   


