doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/fa17g13/stylesheets/home_style.css')
    link(rel="shortcut icon" href="/fa17g13/images/sfsu.jpg" type="image/jpg")
  title= title
  body
   .container
      .main-content

       block content
    #footer
