doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/fa17g13/stylesheets/style.css')
    link(rel="shortcut icon" href="/fa17g13/images/sfsu.jpg" type="image/jpg")
  body
   header
      ul
      li
        a(href='about.asp') About
      |   
      li
        a(href='news.asp') News
      |   
      li
        a(href='contact.asp') Contact
      |   
      li
        a(href='home') Home
      h1 Sabiha Barlaskar



  .container
        .main-content
          block content
        .sidebar
          block sidebar
        
        
          
          
      

    footer
      p Running on node with Express, Jade and Stylus
      
