doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/fa17g13/stylesheets/risha_style.css')
    link(rel="shortcut icon" href="/fa17g13/images/sfsu.jpg" type="image/jpg")
  body
   header
      h1 Risha Shah
            
     
  .container
      .main-content
        block content
          
      

  
