extends layout_risha

block content
  

  p
    
    |Hello, I am a graduate student at San Francisco State University and one 
    |of the developers of the real estate website. I am looking forward to delivering
    |a great product and acquiring importaant personal and professional skills in 
    |the process!
