doctype html
html
 head
    |     
    title Sample Site
    |     
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/fa17g13/stylesheets/login.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    
 body


  ul
      li
        a(href='login') Login
      li
        a(href='/home') About us
      li
       a(href='#search') Home

    .w3-sidebar.w3-light-grey.w3-bar-block(style='width:25%')
      .w3-bar-item Filter results by
       br
       input(type='checkbox',name='price')  
       |Price
       br
       input(type='checkbox', name='square_size')
       | Square feet
     
 .container
    
  .row

    .col-md-6.col-md-offset-3

       p Search for properties by 
        form.search-form(role='form', method='post',action='dropdownW W',maxlength=40)
          select(name="selectpicker" id ="activity")
           option(value = 'none') Select
           option(value = 'zipcode') Zipcode
           option(value = 'city') City
           option(value = 'street') Street Name
        

  .row

    
    .col-md-4.col-md-offset-3


      

      form.search-form(role='form', method='post', action='search', id='search_input')
        .form-group.has-feedback
          label.sr-only(for='search') Search
          #search
          .form-group(style='margin-top:10px')

               button#btn-login.btn.btn-success(type='submit') Search 


      script.
	     function validateForm() {
		       var x = document.getElementById("search_input").value;
		       console.log(x);
		       if (x == "") {
			      alert("Name must be filled out");
			      return false;
		       }
	     }
         var sel = document.getElementById("activity");
         var tex = document.getElementById("search");
          sel.addEventListener("change", function() {
            if(sel.value == 'zipcode')
            {
               tex.innerHTML = "<input type='text' pattern= '[0-9]{5,5}' class = 'form-control' name = 'zipcode' placeholder='Eg.94536'/>";
            }
            else if(sel.value == 'city')
            {
               tex.innerHTML = "<input type='text' pattern= '[A-Za-z]{40}' class = 'form-control' name = 'city' placeholder='San Francisco'/>";
    
            }
            else 
            {
                tex.innerHTML = "<input type='text' pattern= '[A-Za-z]{40}'  class = 'form-control' name = 'street' placeholder='Euclid Ave'/>";
            }

            }); 

    
 


 

