body {
  background-color: Tomato;
}
header {
  font-family: 'Comic Sans MS';
  padding: 10px 10px;
  color: #000;
  font-size: 25px;
  text-align: left;
  font-weight: bold;
}
h1 {
  color: #008000;
  font-family: 'Comic Sans MS';
  font-size: 300%;
}
.container {
  width: 1000px;
  margin: 0px auto;
  overflow: hidden;
}
.main-content {
  float: left;
  width: 300px;
}
.main-content p {
  color: #000;
}
font-family 'Comic Sans MS' {
  font-size: 160%;
}
