body
 background-color Tomato

header
  font-family 'Comic Sans MS'
  padding 10px 10px
  color black
  font-size 25px
  text-align left
  font-weight bold


	h1
     color green
     font-family 'Comic Sans MS'
     font-size 300%
 
	  
.container
  width 1000px
  margin 0px auto
  overflow hidden
 .main-content
   float left
   width 300px
   
   p
    color black
	font-family 'Comic Sans MS'
	font-size 160%